.vscode
Logs
.vs
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
Temp
Library
ExportedObj
obj
Assets/AssetStore*
Build
Builds

# Unity3D generated meta files
*.pidb.meta
*.meta

*.apk
*.unitypackage

sysinfo.txt

*.csproj
*.unityprof
*.sin
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
.consulo
*.htm
.vsconfig